<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>求人者管理 - 家政婦紹介事務所</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body class="menu-teal">
<div class="header">
    <h1><span th:replace="~{fragments/icons :: home}"></span>求人者管理（1-2）</h1>
    <a href="/menu" class="nav-btn"><span th:replace="~{fragments/icons :: arrowleft}"></span>初期画面に戻る</a>
</div>
<div class="menu-grid">
    <a href="/customer/register" class="menu-item">
        <span th:replace="~{fragments/icons :: plus}"></span>
        <div class="menu-title">求人者新規登録</div>
        <div class="menu-no">1-2-1</div>
        <div class="menu-sub">求人者の基本情報を登録</div>
    </a>
    <a href="/customer/report" class="menu-item">
        <span th:replace="~{fragments/icons :: ledger}"></span>
        <div class="menu-title">管理簿入力</div>
        <div class="menu-no">1-2-2</div>
        <div class="menu-sub">求人管理簿の入力</div>
    </a>
    <a href="/customer/list" class="menu-item">
        <span th:replace="~{fragments/icons :: userlist}"></span>
        <div class="menu-title">求人者情報</div>
        <div class="menu-no">1-2-3</div>
        <div class="menu-sub">登録済み求人者の一覧</div>
    </a>
    <a href="/customer/retired-list" class="menu-item wide">
        <span th:replace="~{fragments/icons :: userout}"></span>
        <div class="menu-title">元求人先</div>
        <div class="menu-no">1-2-4</div>
        <div class="menu-sub">取引終了した求人者の一覧</div>
    </a>
</div>
</body>
</html>
