<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>紹介状 - 家政婦紹介事務所</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body class="menu-blue">
<div class="header">
    <h1><span th:replace="~{fragments/icons :: letter}"></span>紹介状（1-4）</h1>
    <a href="/menu" class="nav-btn"><span th:replace="~{fragments/icons :: arrowleft}"></span>初期画面に戻る</a>
</div>
<div class="menu-grid">
    <a href="/introduction" class="menu-item">
        <span th:replace="~{fragments/icons :: letter}"></span>
        <div class="menu-title">紹介状作成</div>
        <div class="menu-no">1-4-1</div>
    </a>
    <a href="/introduction/list" class="menu-item">
        <span th:replace="~{fragments/icons :: list}"></span>
        <div class="menu-title">紹介状一覧</div>
        <div class="menu-no">1-4-2</div>
    </a>
</div>
</body>
</html>
