<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>求職者管理 - 家政婦紹介事務所</title>
    <link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body class="menu-purple">
<div class="header">
    <h1><span th:replace="~{fragments/icons :: users}"></span>求職者管理（1-1）</h1>
    <a href="/menu" class="nav-btn"><span th:replace="~{fragments/icons :: arrowleft}"></span>初期画面に戻る</a>
</div>
<div class="menu-grid">
    <a href="/person/register" class="menu-item">
        <span th:replace="~{fragments/icons :: note}"></span>
        <div class="menu-title">名簿入力</div>
        <div class="menu-no">1-1-1</div>
    </a>
    <a href="/person/schedule" class="menu-item">
        <span th:replace="~{fragments/icons :: calendar}"></span>
        <div class="menu-title">スケジュール</div>
        <div class="menu-no">1-1-2</div>
    </a>
    <a href="/person/sales" class="menu-item">
        <span th:replace="~{fragments/icons :: trend}"></span>
        <div class="menu-title">売上入力</div>
        <div class="menu-no">1-1-3</div>
    </a>
    <a href="/person/shokuji-ledger" class="menu-item">
        <span th:replace="~{fragments/icons :: ledger}"></span>
        <div class="menu-title">管理簿入力</div>
        <div class="menu-no">1-1-4</div>
    </a>
    <a href="/person/working-ledger" class="menu-item">
        <span th:replace="~{fragments/icons :: chart}"></span>
        <div class="menu-title">稼働管理簿</div>
        <div class="menu-no">1-1-5</div>
    </a>
    <a href="/person/list" class="menu-item">
        <span th:replace="~{fragments/icons :: userlist}"></span>
        <div class="menu-title">求職者情報</div>
        <div class="menu-no">1-1-6</div>
    </a>
    <a href="/person/membership" class="menu-item">
        <span th:replace="~{fragments/icons :: card}"></span>
        <div class="menu-title">会費</div>
        <div class="menu-no">1-1-7</div>
    </a>
    <a href="/person/retired-list" class="menu-item">
        <span th:replace="~{fragments/icons :: userout}"></span>
        <div class="menu-title">退職者リスト</div>
        <div class="menu-no">1-1-8</div>
    </a>
</div>
</body>
</html>
